<?xml version="1.0" encoding="UTF-8">
<manifest
 xmnls:android="http://schemas.android.com/apk/res/android"
 package="http://www.evergencompany.co/APPS/OkEver/src/co/evergencompany/android/"
 android:installLocation=["internalOnly"]
 <application
  android:allowTaskReparenting=["false"]
  android:label="appName"
  android:name="appName"
  android:logo="ESoft.png"
  <supports-screens
   android:smallScreens="true"
   android:normalScreens="true"
   android:largeScreens="true"
   android:anyDensity="true"
  />
  <TextView 
   <TextView
    android:textColor="aqua"
    androi
   